@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Html5Boilerplate.cshtml";
}
<div class="row">
    <div class="span6">
        <h2>
            Home</h2>
        <p>
            Hello there.</p>
    </div>
</div>
